API_PORT=8000

POSTGRES_DB=gurumeet
POSTGRES_USER=gurumeet
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5432

TEMPORARY_GROUP_TTL_MINUTES=1440
TEMPORARY_GROUP_CODE_MAX_ATTEMPTS=20
JOIN_RATE_LIMIT_REQUESTS=10
JOIN_RATE_LIMIT_WINDOW_SECONDS=60
